
<table style="width:420px;text-align:center;margin:0 auto;padding:30px 0;line-height:1.5">
    <tbody>
    <tr>
        <td>
            <table style="width:100%;margin-top:46px;border-top:2px solid #2086e0;background:#fff;text-align:center">
                <tbody>
                <tr>
                    <td style="font-size:20px;font-weight:400;padding-top:120px;color:#303030">Verification code for resetting password</td>
                </tr>
                <tr>
                    <td style="font-size:36px;font-weight:800;color:#178bfe">{{code_verify}}</td>
                </tr>
                <tr>
                    <td style="font-size:16px;font-weight:200;padding-top:30px;color:#303030">
                        For verifying your account:
                    </td>
                </tr>
                <tr>
                    <td style="font-size:16px;font-weight:400;color:#303030;padding-bottom:108px;border-bottom:1px solid #eee">
                        <a href="mailto:{{test}}" target="_blank">{{test}}</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13px;font-weight:200;color:#9b9b9b;padding-top:20px">
                        This code is valid for 30 mins. Please continue the next step in time.
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>